*{
    margin: 0 auto;
    padding: 0;
    /* outline: black solid 3px; */
}


#container {
    display: flex;
    margin-top: 100px;
    width: auto;
    height:815px;
    background-image: url('https://media.giphy.com/media/qCfQ28HLs61r2/giphy.gif');
}
/* ============================================= */
#calculator {
    display: flex;
    flex-direction: column;
    width:500px;
    height:650px;
    background-color: #e0fbfc;
    border-radius: 20px;
    margin: 0 ,auto;
    
}
/*======================================= */
#output {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: top;
    height: 80px;
    width: 450px;
    font-size: 30px;
    border-radius: 5%;
    background-color: #293241;
} 

#total{
    width:425px;
    height: 75px;
}
/* ================================== */
#keyboard{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height:550px;
    width:500px;
}
/* ================================== */

.bottom{
    display: flex;
    width: 500px;
    height:500px;
}
.row-1{
    display: flex;
    justify-content: space-evenly;
    width:450px;
    height: 80px;
}

.operator{
    height:75px;
    width:75px;
    font-size: 32px;
}

.botleft{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 325px;
    height:450px;
    margin-left: 25px;
    margin-right: 0%;
    padding: 0;
}
.bRow-1{
    display: flex;
    flex-direction:row ;
    justify-content: space-around;
    margin: 0;
    margin-top: 25px;
}

.bRow-2{
    display: flex;
    flex-direction:row ;
    justify-content: space-around;
    margin: 0;
    margin-top: 25px;
}

.bRow-3{
    display: flex;
    flex-direction:row ;
    justify-content: space-around;
    margin: 0;
    margin-top: 25px;
}

.bRow-4{
    display: flex;
    flex-direction:row ;
    justify-content: space-around;
    margin: 0;
    margin-top: 25px;
}

.number{
    height:75px;
    width:75px;
    font-size: 32px;
}

.sum{    
    height:400px;
    width : 75px;
    font-size: 32px;
    margin: 0;
    margin-top: 38px;
}

.nm{
    display: flex;
    align-items: center;
    height:100px;
    width:250px;
    margin-right: 0;
}

#nightMode {
    width: 150px;
    height:60px;
    background-color: black;
    color:white;
}

#daymode{
    width: 150px;
    height:60px;
    background-color: blue;
    color:red;
}


/* ===================================================== */









